body {
  background-color: #1a1a1a; /* Dark background color */
  color: #dcdcdc; /* Light text color */
  font-family: 'Georgia', serif; /* Traditional font with roots in old language */
}

h1, h2, h3, h4, h5, h6 {
  color: #b3cc66; /* Heading text color in dark mode (Greenish tone for forest theme) */
  font-family: 'Lora', serif; /* Modern serif font with a traditional touch */
}

a {
  color: #70a800; /* Link color in dark mode (Greenish tone for forest theme) */
}
